@import "../../assets/styles/resourse.scss";
.form-contanier{
    display: flex;
    width: 500px;
    margin: 0 auto;
    @include responsive("tablet") {
        flex-direction: column;
        width: 250px;
    }
}

.custom-select{
    padding: 10px;
    background:#edf2ff;
    border:none;
    margin: 15px;
}

.result-txt{
    font-weight: 1000;
}