<div class="form-contanier">
  <input class="custom-select" required lang="en-US" type="number" [(ngModel)]="amount_value" name="amount"  placeholder="Ex: 356" step="0.01">

  <div>
    <app-curruncy-selector (currItemEvent)="currncyItemFrom($event)" [selectedval]="selectedvalFrom"></app-curruncy-selector>
  </div>
  <button class="custom-select" (click)="swap()">swap</button>
  <div>
    <app-curruncy-selector [selectedval]="selectedvalTo" (currItemEvent)="currncyItemTo($event)"></app-curruncy-selector>
  </div>
  <button class="custom-select" (click)="convert()">convert</button>
</div>

<div class="form-contanier">
  <p>Result:  <span class="result-txt">{{result}}</span></p>
</div>

