@import "./../../resourse.scss";
@import "currency-flags/dist/currency-flags.css";
.grid-contanier {
    display: flex;
    width: 500px;
    flex-wrap: wrap;
    margin: 0 auto;
    @include responsive("tablet") {
        width: 300px;
    }
}

.grid-card {
    display: flex;
    flex-direction: column;
    margin: 5px;
    width: 150px;
    height: 150px;
    border-radius: 25%;
    color: #fff;
    background-color: #e28293;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    @include responsive("tablet") {
        width: 75px;
        height: 75px;
    }
}

.amount {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    @include responsive("tablet") {
        font-size: 10px;
        margin: 5px;
    }
}

.amount-curruncy {
    font-size: 15px;
    color: #fff;
    text-align: center;
    @include responsive("tablet") {
        font-size: 10px;
        margin: 5px;
    }
}
.flag {
    display: flex;
    align-self: center;
}