/* You can add global styles to this file, and also import other style files */
html,
body {
    background-color: #FFB8C9;
    background: linear-gradient(90deg, #FFA5BA 0%, #FFB8C9 100%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}